<div class="card">
<h1>Add New Password Credential</h1>
<form method="post">
    <fieldset>
        <label for="title">Title:*</label>
        <input name="title" id="title" required/>
        <br/><br/>
        <label for="subject">Subject:*</label>
        <input name="subject" id="subject" required/>
        <br/><br/>
        <label for="note_description">Note Description:*</label>
        <input name="note_description" id="note_description" required/>
        <br/><br/>
        <button>Save</button>
    </fieldset>
</form>
</div>
