    <div class="card index-card">
        <div class="row">
            <div class="col-12" align="center">
                <p class="font-title">Personal Notes</p>
            </div>
            <hr>
        </div>
        <div class="col-12">
        <p>⦿ Personal Notes is a System to save your personal Notes in the Server, by using this Web Project a user can store their daily routine Also.</p>
        <p>⦿ Personal Notes is a secure system to store notes and Checklist. This system alow user to create their own Routine.</p>
        <p>⦿ You can Simply Create your Notes as well Also Able to Use this Notes as your Diaries.Just modify your diery based on the title of the Notes.</p>
        </div>

        <div class="col-12"  align="center">
            <a class="button button2" href="/notes/index">View All Your Personal Notes</a>
        </div>
    </div>