<center>
    <div class="card index-card">
        <p class="font-title">Personal Notes</p>
        
        <p>Personal Notes is a System to save your personal Notes in the Server, by using this Web Project a user can store their daily routine Also.</p>
        <p>Personal Notes is a secure system to store notes and Checklist. This system alow user to create their own Routine.</p>
        <a class="button button2" href="/notes/index">View All Your Personal Notes</a>
    </div>
</center>