
<div class="card">

<h1>Login</h1>

<form method="post">
    <fieldset>
        <label for="email">Emaiiid:*</label>
        <input name="email" id="email" required/>
        <br/><br/>
        <label for="password">Password:*</label>
        <input name="password" id="password" required/>
        <br/><br/>
        New User? <a href="/registration">Register from here</a>
        <br>
        <button>Save</button>
    </fieldset>
</form>
</div>
