
<div class="card">

<h1>Registration</h1>

<form method="post">
    <fieldset>
        <label for="username">User Name:*</label>
        <input name="username" id="username" required/>
        <br/><br/>
        <label for="email">Email:*</label>
        <input name="email" id="email" required/>
        <br/><br/>
        <label for="password">Password:*</label>
        <input name="password" id="password" required/>
        <br/><br/>
        
        <button>Save</button>
    </fieldset>
</form>
</div>
